name: Notify on Release
on:
  release:
    types:
      - published
jobs:
  slack-message:
    runs-on: ubuntu-latest
    steps:
      - name: Slack Message
        run: |
          curl -X POST -H 'Content-type: application/json' 
          --data '{"text":"New release ${{ github.event.release.tag_name}} is out, <url| ${{ github.event.release.html_url }} check it out now. >"}' https://hooks.slack.com/services/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
